@font-face {
    font-family: 'Momcake';
    src: url('fonts/Momcake-Bold.woff2') format('woff2'),
        url('fonts/Momcake-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aquire';
    src: url('fonts/AquireBold.woff2') format('woff2'),
        url('fonts/AquireBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-Light.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

#body {
    min-width: 250px;
}

.center {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 75%;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }

.leftjustified {
    display: inline;
}

.rightjustified {
    display: inline;
}

.centerjustified {
    display: inline;
}

.logo {
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 5px;
}

#tagline {
    color: black;
    text-decoration: none;
    font-family:'Chivo'; 
    font-weight:bold; 
    font-style:normal; 
    font-size:24px;
}

#whitney {
    font-family:'Momcake'; 
    font-weight:bold; 
    font-style:normal; 
    font-size:144px;
}

#poweredBy {
    font-family:'Aquire'; 
    font-weight:bold; 
    font-style:normal;
    font-size: 8px;
}